*{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

.main-content{
    margin-top: 150px;
}
.hero-img
{
    margin-top: 150px;
}
.main-nav{
    margin-left: 200px;
}


.work-title{
    margin-top: 30px;
}

.s-line-p{
    margin-top: 30px;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: rgb(18, 18, 62);
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    background-color: rgb(18, 18, 62);
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: rgb(18, 18, 62);
    text-decoration: none;
    position: relative;
    padding-bottom: 2px; 
    display: inline-block; 
    transition: color 0.3s; 
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white; 
    transition: width 0.3s;
}

nav ul li a:hover {
    color: white; 
}

nav ul li a.hvr-underline-from-left:hover::before {
    width: 100%; 
}


.left {
    font-size: 1.5rem;
    background-color: rgb(18, 18, 62);
    font-weight: 600;
    
}

.left p{
    background-color: #14133f;
    font-family: 'Gabarito', sans-serif;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 45px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.blog-title{
    margin-top: 30px;
}

.blog-content{
    margin-top: 30px;
}

.push{
    height: 132px;
}


.footer {

    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    background-color: #0e0e1a;
    margin-top: 3.5%;
    height: 200px;
    flex-shrink: 0;
}
.footer-first{
    background-color: #0e0e1a;
}

.footer ul {
    list-style: none;
    display: flex;
    background-color: #0e0e1a;
}
.footer ul li {
    list-style: none;
    background-color: #0e0e1a;
}
.footer h3{
    background-color: #0e0e1a;
}

.footer ul li a{
    display: flex;
    
    background-color: #0e0e1a;
}

.footer>div {
    width: 223px;
    background-color: #0e0e1a;
}
.footer-second ul li {
    margin-right: 30px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
    background-color: #0e0e1a;
}


.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
        background-color: #14133f;
    }

    
    .menu.active {
        display: block;
    }
}